# ============================================
# REPO A: Web API (FastAPI & AWS Cloud)
# ============================================
PORT=8000
DATABASE_URL=
JWT_SECRET_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=my-secure-app-bucket
STRIPE_API_KEY=
